{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleH.css' %}">
{% endblock meta %}

{% block content %}
    <div class="d-flex flex-column text-white py-5">
        <div class="text-center">
            Situs Penting yang Perlu Diingat Terkait Pandemi COVID-19
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="w-50 text-center mt-5 text-dark">
                <div class="w-75 p-2 mx-auto bg-secondary">
                    Kementerian Kesehatan
                    <br>
                    <a href="https://www.kemkes.go.id/" target="_blank">https://www.kemkes.go.id/</a>
                </div>
                
            </div>
            <div class="w-50 text-center mt-5 text-dark">
                <div class="w-75 p-2 mx-auto bg-secondary">
                    Gugus Tugas COVID
                    <br>
                    <a href="https://covid19.go.id/" target="_blank">https://covid19.go.id/</a>
                </div>
            </div>
            <div class="w-50 text-center mt-5 text-dark">
                <div class="w-75 p-2 mx-auto bg-secondary">
                    Pemerintah DKI Jakarta
                    <br>
                    <a href="https://corona.jakarta.go.id/id" target="_blank">https://corona.jakarta.go.id/id</a>
                </div>
            </div>
            <div class="w-50 text-center mt-5 text-dark">
                <div class="w-75 p-2 mx-auto bg-secondary">
                Pemerintah Jawa Barat
                <br>
                <a href="https://pikobar.jabarprov.go.id/" target="_blank">https://pikobar.jabarprov.go.id/</a>
                </div>
            </div>
            <div class="w-50 text-center mt-5 text-dark">
                <div class="w-75 p-2 mx-auto bg-secondary">
                Pemerintah Jawa Tengah
                <br>
                <a href="https://corona.jatengprov.go.id/" target="_blank">https://corona.jatengprov.go.id/</a> 
                </div>
            </div>
            <div class="w-50 text-center mt-5 text-dark">
                <div class="w-75 p-2 mx-auto bg-secondary">
                Pemerintah Jawa Timur
                <br>
                <a href="http://infocovid19.jatimprov.go.id/" target="_blank">http://infocovid19.jatimprov.go.id/</a>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}

