{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'styleE.css' %}">
<title>Form Request</title>
<style>
    .navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
    }
    .navbar {
    color: black;
    }
    footer {
      color:black;
    }
</style>
{% endblock meta %}

{% block content %}
        <div style="text-align: center;color: white; margin-top: 130px;">
            <h3><b>form request barang</b></h3>
        </div>
        <div class="container">
            <form action="{% url 'covid_kit:daftar' %}" method="POST" style="background-color: #4ECDC4; border-radius: 15px; margin-top: 75px; margin-bottom: 120px; padding-top: 100px; padding-bottom: 100px;">
                {% csrf_token %}
                <div style="text-align: center; color: black;">
                    <div>
                        <p>Nama barang:</p>
                        {{form.nama}}
                    </div>
                    <div style="margin-top: 14px">
                        <p>Deskripsi:</p>
                        {{form.deskripsi}}
                    </div>
                    <div style="margin-top: 14px">
                        <p>URL foto:</p>
                        {{form.foto}}
                    </div>
                    <div class="d-flex justify-content-end mb-7">
                        <a href="{% url 'covid_kit:covid_kit' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D; margin-top: 55px; margin-right: 10px;">Back</a>
                        <button type="submit" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D; margin-top: 55px; margin-right: 50px">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <h4 style="text-align: center; margin-bottom: 60px;"><b>daftar barang yang sudah direquest:</b></h4>
        <table class="table" style="width:80%; table-layout: fixed; margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 100px; color: white;">
            <thead>
                <tr style="color:  #FFE66D;">
                    <th>Nama barang</th>
                    <th>Deskripsi</th>
                    <th>URL foto</th>
                </tr>
            </thead>
            <tbody>
                {% for barang in barangs %}
                <tr>
                    <td style="word-wrap:break-word">{{barang.nama}}</td>
                    <td style="word-wrap:break-word">{{barang.deskripsi}}</td>
                    <td style="word-wrap:break-word">{{barang.foto}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

{% endblock content %}