{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'styleE.css' %}">
<title>Form Pemesanan</title>
<style>
    .navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
    }
    .navbar {
    color: black;
    }
    footer {
      color:black;
    }
</style>
{% endblock meta %}

{% block content %}
        <div style="text-align: center;color: white; margin-top: 130px;">
            <h3><b>form pemesanan</b></h3>
        </div>
        <div class="container">
            <form action="{% url 'covid_kit:pesan' %}" method="POST" style="background-color: #4ECDC4; border-radius: 15px; margin-top: 75px; margin-bottom: 150px; padding-top: 100px; padding-bottom: 100px;">
                {% csrf_token %}
                <div style="text-align: center; color: black;">
                    <div>
                        <p>Nama pemesan:</p>
                        {{form.nama_pemesan}}
                    </div>
                    <div style="margin-top: 14px">
                        <p>Alamat pemesan:</p>
                        {{form.alamat}}
                    </div>
                    <div style="margin-top: 14px">
                        <p>Nomor telefon pemesan:</p>
                        {{form.no_hp}}
                    </div>
                    <div style="margin-top: 14px">
                        <p>Pesanan:</p>
                        {{form.pesanan}}
                    </div>
                    <div class="d-flex justify-content-end mb-7">
                        <a href="{% url 'covid_kit:covid_kit' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D; margin-top: 55px; margin-right: 10px;">Back</a>
                        <button type="submit" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D; margin-top: 55px; margin-right: 50px;">Submit</button>
                    </div>
                </div>
            </form>
    </div>

{% endblock content %}