{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'styleE.css' %}">
<title>Covid Kit</title>
<style>
    @media (max-width:797px) {
        .flex-container {
        flex-direction:column
        }
    }
    .navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
    }
    .navbar {
    color: black;
    }
    footer {
      color:black;
    }
</style>
{% endblock meta %}

{% block content %}
        <div class="header2" style="margin-bottom: 30px; margin-top: 150px;">
            <h1>Covid Kit</h1>
        </div>

        <div class="flex-container space-between" style="padding-top: 30px;">
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/masker.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Surgical Mask</p>
                <div>
                    <p>Masker bedah dapat mencegah masuknya partikel besar yang berasal dari percikan dan paparan cairan tubuh orang lain saat batuk atau bersin.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/maskerkain.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Masker Kain</p>
                <div>
                    <p>Salah satu masker pengganti masker bedah yang cukup efektif adalah masker kain.
                        Harganya pun terjangkau dan lebih tahan lama.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/handsanitizer.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Hand Sanitizer</p>
                <div>
                    <p>Hand sanitizer dapat menjadi pengganti sementara dari mencuci tangan sehingga
                        alat ini sangat dibutuhkan selama masa pandemi.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/vitamin.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Vitamin</p>
                <div>
                    <p>Kebugaran tubuh adalah hal yang sangat penting agar tubuh kita dapat melawan virus,
                        oleh karena itu usahakan untuk selalu mengonsumsi vitamin.</p>
                </div>
            </div>
        </div>

        <div class="flex-container space-between">
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/sabuncair.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Sabun Cair</p>
                <div>
                    <p>Mencuci tangan selama masa pandemi ini adalah kunci untuk terhindar dari penularan Covid 19.
                        </p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/tissue.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Tissue</p>
                <div>
                    <p>Selama pandemi, tissue adalah salah satu alat yang perlu dibawa kemana pun.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/alkohol.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Alkohol 70%</p>
                <div>
                    <p>Alkohol 70% dapat menjadi pengganti hand sanitizer yang ampuh membersihkan tangan.</p>
                </div>
            </div>
            <div class="flex-item">
                <div class="image-div">
                    <img src = "../static/faceshield.jpg">
                </div>
                <p style="background-color: grey; font-size: 15px; width: 180px; margin-left: auto; margin-right: auto;">Face Shield</p>
                <div>
                    <p>Selain masker, face shield juga merupakan barang wajib untuk menghindari diri dari
                        droplet orang lain.</p>
                </div>
            </div>
        </div>
        
        <div class="footer2">
            <p>gak ketemu apa yang kamu cari? coba request barang supaya kami jual!</p>
            <a href="{% url 'covid_kit:daftar' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D">Request barang </a>
        </div>
        <div class="footer2" style="margin-top:-30px">
            <p>sudah mau pesan? isi form pemesanan di sini!</p>
            <a href="{% url 'covid_kit:pesan' %}" type="button" class="btn btn-warning" style="background-color: #FFE66D; border-color: #FFE66D">Pesan sekarang </a>
        </div>

{% endblock content %}