body {
    background-color:#1A535C;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

.header2 {
    text-align: left;
    margin-top: 150px;
}

.header2 h1 {
    margin-left: 30px;
}

.rounded {
    border-radius: 10px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    background-color: #4ECDC4;
  }

.space-between { 
    justify-content: space-between; 
}

.flex-item {
    background: #4ECDC4;
    padding: 5px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-size: 11px;
    text-align: center;
  }

  .image-div {
    margin-left: auto;
    margin-right: auto;
    width:180px;
    height:180px;
}

.image-div img{
    width:100%;
    height:100%;
}

.footer2 {
    text-align: center;
    color: white;
    margin-bottom: 80px;
    margin-top: 80px;
}
