{% extends 'base.html'%}
{% load static %}
{% block meta%}
<link rel="stylesheet" href="{% static 'list_kasus/styleR.css' %}">
{% endblock meta%}

{% block content %}
    <div class ="container">
        {% for a in kasus %}
        <h2>Jumlah Kasus Covid di {{a.nama}} Saat Ini</h2>
        <div class ="row">
            <div class="col-md-4 text-center" >Kasus Terkonfirmasi <div class='card' style='width:100%;'>{{a.jumlah_total}}</div></div>
            <div class="col-md-4 text-center">Kasus Sembuh <div class='card' style='width:100%;'>{{a.kasus_sembuh}}</div></div>
            <div class="col-md-4 text-center">Kasus Meninggal <div class='card' style='width:100%;'>{{a.kasus_meninggal}}</div></div>
        </div>
        <p></p>
        <p>Update Terakhir</p>
        <p style='margin-left: 10px;'>{{a.tanggal}}</p>
        <br>
        {% endfor %}
        <p>Cari Kasus di Daerahmu
              
        </p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="asw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cari Daerahmu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for i in list_kasus %}
              <a class="dropdown-item" href="{% url 'listkasus:kasusdetail' i.pk %}">{{i.nama_daerah}}</a>
                {% endfor %}
            </div>
          </div>
          <br>
        <div id ='endline'>Mengetahui Jumlah Kasus di Daerahmu? Silahkan Tambahkan Kasus
            <a class="btn btn-info" href="{% url 'listkasus:tambahkasus' %}">Tambah Kasus</a>
        </div>
    </div>
    <br>
{% endblock content %}