<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}

    {% block meta%}
    <link rel="stylesheet" href="{% static 'list_kasus/styleR.css' %}">
    {% endblock meta%}

{% block content %}
<div class="container" id="tambahkasus">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card" id = "tabel">
            <table class="table">
                <thead class="thead">
              <tr>
                <th scope="row">Keterangan</th>
                <th scope="row">Data</th>
                
              </tr>
            </thead>
            <tr>
                {{form}}
            </tr>
            </table>
            <div class="text-right">
            <input id="submit" type="submit" class="btn  btn-info " value="Tambah">
            </div>
            

        </div>
        <div class='backbutton text-center'id='backtoyou'>
        <a class="btn btn-info" href='/daftarkasus' >Batal</a>
        </div>
    </form>
    </div>
    <br>

{% endblock content %}