{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Daftar RS Rujukan COVID-19</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid p-3 my-3 text-center">
        <h1>Daftar Rumah Sakit Rujukan</h1>
    </div>
    <div class="container-fluid header">
        <div class="row">
            <div class = "pic col-sm-12 col-md-6 pt-sm-4 pt-md-1">
                <img src= "{% static 'rs.png' %}" class="img-fluid mx-auto" style="width: 90%; height: auto;">
            </div>
            <div class="para col-sm-12 col-md-6 text-center pr-md-5 pb-md-3 px-4 pt-5">
                <p>Telah terdaftar sebanyak {% if rsrujukans %} {{ jumlahrs }} {% endif %}
                    {% if not rsrujukans %} 0 {% endif %}
                    rumah sakit rujukan yang siap menangani pasien COVID-19 pada website ini.
                <br><br>Tambahkan jumlah rumah sakit rujukan COVID-19 agar pandemi ini segera berakhir.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-4 my-2 pb-5 text-center">
        <div class="pt-sm-5 pt-4">
            <h2>Kapan <span>Perlu </span>Memeriksakan Kesehatan Ke Rumah Sakit
            untuk Dugaan <span>COVID-19</span>?</h2>
        </div>
        <div class="py-sm-4 py-3">
            <br>
            <img class="img-fluid" src= "{% static 'kapan.png' %}">
        </div><br>
        <a class="btn btn-danger btn-lg" href="{% url 'list_rs:tescovid' %}">Daftar Rapid Test/Swab Test</a>
    </div>
    <div class="container-fluid p-md-5 py-5" style="background-color: #4ECDC4;">
        <div class="p-md-5 pb-2 pt-1 text-center">
            <h2 style="color: #0E434B;">Daftarkan Rumah Sakit Rujukan Anda.</h2><br>
        </div>
        <div class="form">
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for form in input_rs %}
                        {{ form.label }}
                        {{ form }} <br>
                    {% endfor %}
                    <div class="text-right">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container-fluid p-sm-5 px-3 py-4">
        <div class="p-md-5 p-2 pt-4 text-center">
            <h2>Daftar Rumah Sakit Rujukan</h2><br>
        </div>
        <table id="list" class="table table-hover">
            <tr>
            <th>Nama Rumah Sakit</th>
            <th></th>
            <th></th>
            </tr>
            {% if rsrujukans %}
            <tbody>
                {% for rsrujukan in rsrujukans %}
                    <tr>
                        <td><a href="{% url 'list_rs:detail' id=rsrujukan.id %}" class="detail">{{ rsrujukan }}</a></td>
                        <td class="center"><a class="btn btn-warning" href="{% url 'list_rs:ubah' id=rsrujukan.id %}">Ubah</a></td>
                        <td class="center">
                            <a href="{% url 'list_rs:hapus' id=rsrujukan.id %}">
                            <button type="button" class="btn btn-danger">Hapus</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
            {% if not rsrujukans %}
            <tbody>
                <tr class="text-center">
                <td colspan="3"><p>Belum ada rumah sakit rujukan yang terdaftar.</p></td>
                </tr>
            </tbody>
            {% endif %}
        </table>
        <br><br>
        {% if messages %}
        {% for message in messages %}
        {% if forloop.last %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
                {{ message }}
                <button type="button" class="btn btn-danger" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    
    
    
{% endblock content%}