{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Detail {{ rsrujukan }}</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-3 my-3 text-white text-md-left text-center">
    <h1 class="pl-md-5">Detail {{ rsrujukan }}</h1>
</div>

<div class="container-fluid p-3 px-5 text-left" style="background-color: #4ECDC4;">
    <div class="row mx-md-5 mx-3 px-md-4">
        <div class="col-sm-12 px-md-5"></div>
            <br>
            <p><b><b>Nama Rumah Sakit:</b></b><br>{{ rsrujukan.nama }}<br>
            <br><b><b>Provinsi:</b></b><br>{{ rsrujukan.provinsi }}<br>
            <br><b><b>Kabupaten / Kota:</b></b><br>{{ rsrujukan.kabkota }}<br>
            <br><b><b>Alamat:</b></b><br>{{ rsrujukan.alamat }}<br>
            <br><b><b>No. Telepon:</b></b><br>{{ rsrujukan.telepon }}<br>
            <p></p>
        </div>
    </div>
</div>
<div class="container-fluid px-md-5 pb-2 text-white text-md-right text-center">
    <br>
    <p><a class="back" href="{% url 'list_rs:savers' %}">Kembali daftar rumah sakit rujukan</a><br></p>
</div>
{% endblock content %}