{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Tiket Antrian No. {{ id }}</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid text-center" style="padding: 50px 20px;">
    <h2>Nomor Antrian Anda:
        <br>{{ id }}
        <br>Kode Tiket:
        <br>{{ id }}
    </h2>
    <br>
    <div class="container buttons">
        <div class="row">
            <div class="col-sm-6 col-12 p-3">
                <a href="#" class="btn btn-warning btn-lg">Download Tiket</a>
            </div>
            <div class="col-sm-6 col-12 p-3">
                <a href="{% url 'list_rs:savers' %}" class="btn btn-warning btn-lg" style="width: 194px;">Kembali</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}