{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleV.css' %}">
<title>Ubah Data {{ rsrujukan }}</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid p-md-5 py-5" style="background-color: #4ECDC4;">
    <div class="p-md-5 pb-2 text-center">
        <h2 style="color: #0E434B;">Ubah Data {{ rsrujukan }}.</h2><br>
    </div>
    <div class="form">
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {% for form in input_rs %}
                    {{ form.label }}
                    {{ form }} 
                    <br>
                {% endfor %}
                <div class="text-right">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid px-md-5 pb-2 text-white text-md-right text-center">
    <br>
    <p><a class="back" href="{% url 'list_rs:savers' %}">Kembali daftar rumah sakit rujukan</a></p>
</div>
{% endblock content %}