{% extends 'base.html' %} 
{% load static %}
{% block meta %}
<link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
<style>
    .navbar{
        color: black;
        padding-right: 0%;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        word-wrap: break-word;
        padding-left: 0%;
        padding-right: 0%;
    }
    .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
        padding-right: 0%;
    }
    footer{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
</style>
{% endblock meta %}

{% block content %}
<body>
    <div class="title">
        <p class="p-title">Frequently Asked Questions</p>
    </div>
    <div class="col text-center" style="margin-top: 100px;">
        <table style="width: 100%; text-align: justify;">
            {% for jawaban in jawabans %}
            {% if jawaban.isi_pertanyaan == pertanyaan %}
            <tr>
                <th class="col-md-auto">Dijawab Oleh:</th>
                <td class="col-md-auto">{{jawaban.pengisi}}</td>
            </tr>
            <tr>
                <th class="col-md-auto">Pertanyaan:</th>
                <td class="col-md-auto">{{jawaban.isi_pertanyaan}}</td>
            </tr>
            <tr>
                <th class="col-md-auto">Jawaban:</th>
                <td class="col-md-auto">{{jawaban.jawaban}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="row mb-3 justify-content-center mt-3">
        <div class="col text-center">
            <a href="{% url 'faq:list-faq' %}" class="btn" style="background-color: #FFE66D;">Kembali</a>
        </div>
    </div>        
{% endblock content %}