{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
<style>
    .navbar{
        color: black;
        padding-right: 0%;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        word-wrap: break-word;
        padding-left: 0%;
        padding-right: 0%;
    }
    .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
        padding-right: 0%;
    }
    footer{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
</style>
{% endblock meta %}

    {% block content %}
    <div class="title">
        <p class="p-title">Frequently Asked Questions</p>
    </div>
    <div class="d-flex justify-content-around mt-5">
        <div>
            <a type="button" class="btn" style="background-color: #FFE66D;" href="{% url 'faq:faq' %}#tentang-covid19">Tentang COVID-19</a>
        </div>
        <div>
            <a type="button" class="btn" style="background-color: #FFE66D;" href="{% url 'faq:faq' %}#cara-pencegahan">Cara Pencegahan</a>
        </div>
        <div>
            <a type="button" class="btn" style="background-color: #FFE66D;" href="{% url 'faq:faq' %}#penanganan-dan-pengobatan">Penanganan dan Pengobatan</a>
        </div>
    </div>
    <div id="tentang-covid19" class="mt-5">
        <p><b>Tentang COVID-19</b></p>
        <p class="border-bottom">Apa itu COVID-19?<span data-toggle="collapse" data-target="#tentang-satu" class="class-collapse">▼</span></p> 
        <div id="tentang-satu" class="collapse">
            COVID-19 adalah penyakit menular yang disebabkan oleh virus corona SARS-CoV-2. 
            Dengan kata lain, SARS-CoV-2 adalah nama virusnya, sementara COVID-19 adalah nama penyakitnya.
            Ini seperti HIV yang adalah nama virus dari penyakit AIDS.
        </div>
        <p class="border-bottom mt-3">Apa itu virus Corona?<span data-toggle="collapse" data-target="#tentang-dua" class="class-collapse">▼</span></p>
        <div id="tentang-dua" class="collapse">
            Virus Corona adalah sebutan untuk jenis virus yang dapat menyebabkan penyakit pada hewan dan manusia. Disebut corona karena bentuknya yang seperti mahkota. 
            Beberapa contoh penyakit pada manusia yang disebabkan oleh virus corona antara lain MERS dan SARS. 
            Virus corona terbaru yang ditemukan yang ditemukan di Wuhan, Tiongkok, pada bulan Desember 2019 diberi nama SARS Coronavirus 2, disingkat SARS-CoV-2, dan menyebabkan penyakit Coronavirus Disease 2019, disingkat COVID-19.
        </div>
        <p class="border-bottom mt-3">Bagaimana cara COVID-19 menular?<span data-toggle="collapse" data-target="#tentang-tiga" class="class-collapse">▼</span></p>
        <div id="tentang-tiga" class="collapse">
            Penularan terjadi melalui droplet, yaitu butir-butir tetesan cairan, dari hidung atau mulut yang menyebar saat pembawa virus COVID-19 batuk atau bersin.
            Tetesan cairan tersebut akan menempel pada benda atau permukaan di sekitarnya. Kemudian masuk ke mulut, hidung, atau mata. 
            Dapat juga karena menyentuh permukaan bekas terkena butir cairannya dengan tangan lalu tangan mengusap mulut, hidung, atau mata. 
            Inilah alasan pentingnya sering-sering cuci tangan dan jangan menyentuh muka dengan tangan.
            Orang sehat dapat tertular saat tangan mereka menyentuh permukaan yang terkena tetesan tersebut dan kemudian tanpa sadar menyentuh mata, mulut, ataupun hidung. 
            Virus juga bisa masuk saat orang sehat secara tidak sengaja menghirup tetesan cairan saat si pembawa virus batuk atau bersin.
        </div>
    </div>
    <div id="cara-pencegahan" class="mt-5">
        <p><b>Cara Pencegahan</b></p>
        <p class="border-bottom">Bagaimana cara menjaga diri agar terhindar dari COVID-19?<span data-toggle="collapse" data-target="#cegah-satu" class="class-collapse">▼</span></p> 
        <div id="cegah-satu" class="collapse">
            Untuk mencegah diri dari COVID-19, WHO dan Pemerintah menyarankan kepada masyarakat untuk:
            <ul>
                <li>Rajin membersihkan tangan dengan sabun dan air mengalir atau dengan hand sanitizer</li>
                <li>Menggunakan masker ketika berpergian</li>
                <li>Tidak menyentuh muka bagian mata, hidung, dan mulut dengan tangan yang belum dibersihkan</li>
                <li>Menutup hidung dan mulut menggunakan siku bagian dalam saat batuk atau bersin</li>
                <li>Menjaga jarak minimal satu meter dengan orang lain</li>
                <li>Tetap berada di rumah jika tidak ada kepentingan</li>
            </ul>
        </div>
        <p class="border-bottom mt-3">Apa dan Bagaimana Physical Distancing?<span data-toggle="collapse" data-target="#cegah-dua" class="class-collapse">▼</span></p>
        <div id="cegah-dua" class="collapse">
            Physical distancing adalah upaya yang dilakukan untuk mencegah penyebaran virus corona di masyarakat. 
            Secara sederhana Physical Distancing adalah menjaga jarak lebih dari 1 meter dengan siapapun. Dengan kata lain: Tidak Berdekatan dan Tidak Berkumpul.
            Dengan menerapkan Physical Distancing penyebaran virus dapat dicegah. Ingat, virus tidak bergerak sendiri tapi oranglah yang membawanya ke mana-mana.
        </div>
        <p class="border-bottom mt-3">Apa saja protokol kesehatan yang harus diterapkan saat berpergian keluar rumah?<span data-toggle="collapse" data-target="#cegah-tiga" class="class-collapse">▼</span></p>
        <div id="cegah-tiga" class="collapse">
            Protokol kesehatan yang harus dilaksanakan saat berpergian ke luar rumah adalah:
            <ul>
                <li>Gunakan pakaian lengan panjang</li>
                <li>Bawa hand-sanitizer dengan kandungan alkohol minimal 60%</li>
                <li>Gunakan masker</li>
                <li>Hindari keramaian</li>
                <li>Jaga jarak minimal satu meter</li>
                <li>Gunakan transaksi nontunai</li>
                <li>Bersihkan tangan menggunakan sabun dan air mengalir atau hand sanitizer setelah menyentuh benda atau permukaan apa pun</li>
            </ul>
        </div>
    </div>
    <div id="penanganan-dan-pengobatan" class="mt-5">
        <p><b>Penanganan dan Pengobatan</b></p>
        <p class="border-bottom">Bagaimana saya dapat dinyatakan positif atau negatif COVID-19?<span data-toggle="collapse" data-target="#penanganan-satu" class="class-collapse">▼</span></p> 
        <div id="penanganan-satu" class="collapse">
            Untuk mengetahui apakah seseorang positif atau negatif COVID-19, perlu diadakan tes yang disebut Swab Test/PCR Test.
            Tes dilakukan dengan cara mengambil sampel spesimen menggunakan alat berbentuk batang cotton bud dengan ukuran yang lebih panjang melalui hidung dan mulut.
            Kemudian, sampel akan dikirim ke laboratorium untuk dites PCR. Hasil dari tes inilah yang akan menyatakan seseorang positif atau negatif COVID-19.
        </div>
        <p class="border-bottom mt-3">Apakah vaksin COVID-19 sudah tersedia? Kapan bisa digunakan?<span data-toggle="collapse" data-target="#penanganan-dua" class="class-collapse">▼</span></p>
        <div id="penanganan-dua" class="collapse">
            Saat ini belum ada pengobatan khusus yang efektif untuk infeksi virus corona baru. 
            Vaksin mungkin baru bisa tersedia pada tahun 2021.
            Sumber: covid19.go.id
        </div>
        <p class="border-bottom mt-3">Adakah obat khusus untuk menangani COVID-19?<span data-toggle="collapse" data-target="#penanganan-tiga" class="class-collapse">▼</span></p>
        <div id="penanganan-tiga" class="collapse">
            Sampai saat ini, belum ada obat khusus yang disarankan untuk mencegah atau mengobati penyakit yang disebabkan virus corona baru. 
            Mereka yang terinfeksi virus harus menerima perawatan yang tepat untuk meredakan dan mengobati gejala, dan mereka yang sakit serius harus dibawa ke rumah sakit.
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <p class="btn"><a href="{% url 'faq:list-faq' %}"><u>Lihat FAQ lain</u></a></li>
        <p class="btn"><a href="{% url 'faq:list-pertanyaan' %}"><u>Jawab pertanyaan lain</u></a></li>
    </div>
    <div class="mt-5 mb-5">
        <form method="POST" class="d-flex justify-content-center">
            {% csrf_token %}
            {{form_pertanyaan.pertanyaan}}
            <button type="submit" class="btn ml-3" style="float: right; background-color: #FFE66D;">Send</button>
        </form>
    </div>
    {% endblock content %}
