{% extends 'base.html' %} 
{% load static %}
{% block meta %}
<link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
<style>
    .navbar{
        color: black;
        padding-right: 0%;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        word-wrap: break-word;
        padding-left: 0%;
        padding-right: 0%;
    }
    .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
        padding-right: 0%;
    }
    footer{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
</style>
{% endblock meta %}

{% block content %}
    <div class="title">
        <p class="p-title">Frequently Asked Questions</p>
    </div>
    <div class="mb-5">
        <div>
            <div class="fr-form">
                <form method="POST" style="width: 100%;">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form_jawaban.pengisi.label_tag}}
                        </div>
                        {{form_jawaban.pengisi}}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form_jawaban.jawaban.label_tag}}
                        </div>
                        {{form_jawaban.jawaban}}
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button type="submit" class="btn" style="background-color: #FFE66D;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}