{% extends 'base.html' %} 
{% load static %}
{% block meta %}
<link href="{% static 'cssfaq.css' %}" rel="stylesheet" type="text/css">
<style>
    .navbar{
        color: black;
        padding-right: 0%;
    }
    .navbar a{
        text-decoration: none;
        color: black;
        word-wrap: break-word;
        padding-left: 0%;
        padding-right: 0%;
    }
    .navbar div.collapse.navbar-collapse#navbarNavAltMarkup div.navbar-nav.ml-auto{
        padding-right: 0%;
    }
    footer{
        color: black;
        font-family: 'Poppins', sans-serif;
    }
</style>
{% endblock meta %}

{% block content %}
    <div class="title">
        <p class="p-title">Frequently Asked Questions</p>
    </div>
    <div style="margin-top: 80px;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">List Pertanyaan</th>
            </tr>
            </thead>
            <tbody>
                {% for faq in faqs %}
                    <tr>
                        <td><a class="p-td" href="{% url 'faq:detail' faq.id %}"><u>{{faq.pertanyaan}}</u></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col text-center">
            <a href="{% url 'faq:faq' %}" class="btn" style="background-color: #FFE66D;">Kembali ke Halaman FAQ</a>
        </div>
    </div>
{% endblock content %}