body {
    background-color: #1A535C;
    font-family: 'Poppins';
}
h1 {
    color: white;
    padding: 20px 20px;
    font-weight: 600;
}
h2 {
    color: white;
    font-weight: 600;
    line-height: 1.5;
}
p {
    line-height: 1.5;
}
.navbar a {
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
}
.navbar {
    color: black;
}
#padding {
    padding: 80px 0;
}
#padding img {
    width: 90%;
    height: auto;
}
.header {
    background-color: #4ECDC4; padding: 50px 50px;
}
.content {
    background-color: #4ECDC4; padding: 50px 50px;
}
.pic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
span {
    color: #FFE66D;
    text-align: center;
}
.para {
    text-align: center;
}
.btn {
    padding: 5px 20px;
}
.btn-primary {
    background-color: #1A535C;
    border: 1px solid #1A535C;
    white-space: normal;
}
.btn-primary:hover {
    background-color: #0d3a41;
    border: 1px solid #0d3a41;
}
.btn-danger {
    background-color: #FF6B6B;
    border: 1px solid #FF6B6B;
    white-space: normal;
}
.btn-danger:hover {
    background-color: #EC4141;
    border: 1px solid #EC4141;
}
.btn-warning {
    background-color: #FFE66D;
    border: 1px solid #FFE66D;
    color: #1A535C;
    white-space: normal;
}
.btn-warning:hover {
    background-color: #E7CA42;
    border: 1px solid #E7CA42;
}
.center {
    text-align: center;
}
.form {
    width: 65%; margin:auto; 
    background-color: #FFE66D;
    border-radius: 25px;
}
.form-group {
    padding: 55px 70px;
}
#list {
    width: 75%; margin: auto;
    background-color: #4ECDC4;
    color: black;
}
#list th{
    background-color: #F7FFF7;
    font-weight: 600;
}
#list td {
    vertical-align: middle;
}
.detail, .detail:hover {
    color: inherit;
}
.back {
    text-decoration: underline;
    color: inherit;
}
ul {
    list-style-type: none;
}
.desc {
    background-color: #4ECDC4; padding: 50px 50px;
}
.buttons {
    text-align: center; width: 50%;
}

@media screen and (max-width: 440px) {
    .desc {
        padding-bottom: 30px; padding-top: 50px;
    }
}
@media screen and (max-width: 576px) {
    .header {
        padding-bottom: 30px;
    }
    .desc {
        padding-bottom: 40px; padding-top: 60px;
    }
}
@media screen and (max-width: 712px) {
    h1 {
        font-size: 40px;
        padding-left: 2%; padding-right: 2%;
    }
    h2 {
        font-size: 35px;
        padding-left: 2%; padding-right: 2%;
        padding-top: 3%; padding-bottom: 3%;
    }
    .btn-danger {
        font-size: 16px;
    }
    .form {
        width: 90%;
    }
    .form-group {
        padding: 30px 30px;
    }
    ul {
        padding:0;
    }
    
}
@media screen and (max-width: 945px) {
    .buttons {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1000px){
    .desc {
        padding-bottom: 20px; padding-top: 20px;
    }
}
@media screen and (min-width: 712px) {
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 45px;
    }
}
@media screen and (min-width: 1040px) {
    .para {
        font-size: 20px;
    }
}