/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
    word-wrap: break-word;
}

.bg-primary{
    background-color: #1A535C !important;
    color: white;
}

.bg-secondary{
    background-color: #4ECDC4 !important;
    color: black;
}

.bg-salmon{
    background-color: #FF6B6B;
}

.bg-yellow{
    background-color: #FFE66D;
}

.w-sm-50-100{
    width: 100%;
}

.w-md-50-100{
    width: 100%;
}

.border-right-bottom{
    border-right: 0px solid white;
    border-bottom: 1px solid white;
}

.border-left-top{
    border-left: 0px solid white;
    border-top: 1px solid white;
}

@media only screen and (min-width: 576px) {
    /* For Smartphone: */
    .w-sm-50-100{
        width: 50%;
    }

    .border-right-bottom{
        border-right: 1px solid white;
        border-bottom: 0px solid white;
    }
    
    .border-left-top{
        border-top: 0px solid white;
        border-left: 1px solid white;;
    }
}

@media only screen and (min-width: 768px) {
/* For Tablet: */
    .w-md-50-100{
        width: 50%;
    }
}