{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleH.css' %}">
{% endblock meta %}

{% block content %}
    <div class="d-flex flex-column w-75 mx-auto text-white">
        <div class="align-self-center pt-5 mb-3 px-2">
            <h3>
                {{berita.title}}
            </h3>
        </div>
        <img src={{berita.image_url}} alt="img" width="300px" height="150px" class="align-self-center">
        <div class="align-self-center bg-secondary w-100 my-3 px-3">
            <p class="text-left">
                {{berita.content|linebreaks}}
            </p>
        </div>
    </div>
{% endblock content %}