{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleH.css' %}">
{% endblock meta %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div class="text-center py-5 text-white">
            <h1>
                Tambah Berita
            </h1> 
        </div>
        <form method="POST" class="align-self-start w-75 mx-auto" action="{% url 'berita:makePost' %}">
            {% csrf_token %}
            <div class="d-flex text-left flex-column">
                <p>Judul:</p>
                <div>
                    <input class="text-dark w-100" placeholder="Judul Berita" name="title" required>
                </div>
                <p class="pt-4">Link Gambar:</p>
                <div>
                    <input class="text-dark w-100" placeholder="Url gambar" name="image_url" required>
                </div>
                <p class="pt-4">
                    Teks Berita:
                </p>
                <div>
                    <textarea class="text-dark w-100" placeholder="Isi berita" name="content" rows="10" required></textarea>
                </div>
            </div>
            <button type="submit" style="font-size: 13px;" class="text-dark btn bg-yellow mb-5">Post</button>
        </form> 
    </div>
{% endblock content %}