{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/styleH.css' %}">
{% endblock meta %}

{% block content %}
    <div class="d-flex flex-column py-5 px-3">
        <div class="align-self-center text-white ">
            <h1>
                Berita
            </h1>
        </div>
        <div class="d-flex align-self-end py-3">
            <a href="{% url 'berita:makePost' %}" style="width: fit-content;" class="mx-auto">
                <button style="font-size: 13px;" class="btn bg-yellow">
                    Make Post
                </button>
            </a>
        </div>
        <div class="d-flex flex-md-row flex-column flex-wrap">
        
            {% for berita in listBerita %}
            <div class="text-center w-md-50-100 mx-auto mx-md-0 py-5">
                <div class="bg-secondary w-75 mx-auto px-3">
                    <div class="font-weight-bold pt-3">
                        <a href="{{berita.get_absolute_url}}">
                            {{berita.title}}
                        </a>
                    </div>
                    <img class="my-3" src={{berita.image_url}} alt="img" width="150px" height="100px">
                    <div style="width: 100%;" class="text-left px-3 mx-auto">
                        {{ berita.content|linebreaks|truncatechars:100 }}
                        <a href="{{berita.get_absolute_url}}" style="color: blue;">read more</a>
                    </div>
                    <div class="d-flex justify-content-end pb-3 pr-3">                    
                        <form action="{% url 'berita:deletePost' berita.title %}" method="POST">
                            {% csrf_token %}
                            <button style="font-size: 13px;"class="btn bg-yellow" type="input">
                                Delete Post
                            </button>
                        </form>
                    </div>
        
                </div>
            </div>
                
            {% endfor %} 
        </div>
    </div>
{% endblock content %}

