html{
    scroll-behavior: smooth;
}
body{
    background-color: #1A535C;
}
.title{
    display: flex;
    width: 90%;
    height: 90px;
    background-color: #4ECDC4;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 100px;
}
.p-title{
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: black;
    padding-top: 20px;
}
div, p, li, a, th{
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
td{
    padding-left: 0%;
}
.class-collapse{
    cursor: pointer;
    padding-left: 90%;
}
.fr-form{
    display: block;
    width: 80%;
    height: 70%;
    background-color: #4ECDC4;
    margin-top: 50px;
    border-radius: 15px;
}
.p-jawab{
    color: black;
    padding-left: 0%;
}
.p-td{
    color: white;
    padding-left: 0%;
    text-align: left;
}
.fr-form{
    display: flex;
    width: 100%;
}
